.resume{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.header{
    width:100vw;
    text-align:center;
}

.education_item, .exp_item{
    margin-bottom: 10px;
}

.rem_btn{
    margin-left: 5px;
}